@media (max-width: 900px) { 
  body{
    font-size:0.22rem!important;
  } 
  .list,.finish{
    width: 7rem!important;
  }
  .list li{
   
    border-radius: 0.1rem!important;
  }
  .list li span,.finish li span{
    width: 83%!important;
    padding:0.2rem 0.15rem 0.2rem 0.1rem!important;
    line-height: 0.4rem!important;
    font-size: 0.22rem!important;
  }
  .list li input,.finish li input{
    width: 0.3rem!important;
    height: 0.3rem!important;
    border-radius: 0.1rem!important;
  }
  .list li a,.finish li a{
    width: 0.3rem!important;
    height: 0.24rem!important;
    font-size: 0.22rem!important;
    border-radius: 0.24rem!important;
  }
  .doing span{
    font-size:0.22rem!important;
  }
  .doing li{
    border-left: 0.07rem solid #629A9C!important;

  }
  .menu{
    height: 1rem!important;
  }
  .menu section{
    width: 7rem!important;
  }
  .menu section span{
    line-height: 1rem!important;
  }
  .menu section input{
    width: 5.5rem!important;
    height: 0.6rem!important;
    font-size: 0.22rem!important;
    margin-top: 0.15rem!important;
    border-radius: 0.2rem!important;
    float: auto;
  }
}


body{
  background: #CDCDCD;
  font-size: 20px;
}
.normal {
  background: #CDCDCD;
}
ul{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}
.add{
  width: 694px;
  height: 50px;
  background: #fff;
  border-radius: 10px;
  padding:0 2px;
  font-size: 18px;
  margin: 10px 0;
}

.list{
  width: 600px;
  margin:  0 auto;
  display: block;
  padding: 10px;
}
.doing{
  
}
.finish{

}
.list h3{
  text-align: left;
} 
.list li{
  position: relative;
  list-style: none;
  background-color:lightgray;
  border-radius: 5px;
  text-align: left;
  display: flex;
  margin-top: 10px;
  align-items: center;
  background-color: #fff;
  border-left: 5px solid #629A9C;
}
.finish li{
  opacity: 0.5;
  border-left: 5px solid grey;
}
.list li span{
  width: 84%;
  display: inline-block;
  font-size: 13px;
  padding:10px 14px 10px 0px;
  line-height: 22px;
}
.list li input{
  cursor: pointer;
  margin-left: 10px;
  width: 22px;
  height: 22px;
}
.list li a{
  display: inline-block;
  width: 14px;
  height: 12px;
  border-radius: 14px;
  border: 6px double #FFF;
  background: #CCC;
  line-height: 14px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  padding: .6em 0;
  color: white;
  margin: 0;
}
.menu{
  background: rgba(47,47,47,0.98); 
  width: 100%;
  height: 60px;
  font-size: 25px;
}
.menu section {
  width: 600px;
  margin: 0 auto;
}
.menu section span{
  color: #fff;
  float: left;
  line-height: 60px;
}
.menu section input{
  margin-top: 8px;
  height: 35px;
  width: 400px;
  float: right;
  border-radius:5px; 
  padding: 2px;
}