<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>TODO</title>
  <script type="text/javascript">         
  (function () {             
      var scale = 1.0;             
      if (window.devicePixelRatio >= 2) {                 
          scale *= 0.5;             
       }             
       var text = '<meta name="viewport" content="initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', width=device-width, user-scalable=no" />';             
       document.write(text);             
       document.documentElement.style.fontSize = document.documentElement.clientWidth / (7.5) + "px";        
        })();     
        </script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
